<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order has shipped" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var comment":"Shipment Comment",
"var shipment.increment_id":"Shipment Id",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block class='Magento\\\\Framework\\\\View\\\\Element\\\\Template' area='frontend' template='Magento_Sales::email\/shipment\/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order.getShippingDescription()":"Shipping Description"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "こんにちは %name、" name=$order.getCustomerName()}}</p>
            <p>
                {{trans "注文番号 #%shipment_id が送信されました。%store_name からのご注文ありがとうございます。" shipment_id=$shipment.increment_id store_name=$store.getFrontendName()}}
                {{trans "<a href="%account_url">アカウントにログインし</a>て注文のステータスを確認できます。" account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}

                <!-- {{trans "Thank you for your order from %store_name." store_name=$store.getFrontendName()}}
                {{trans 'You can check the status of your order by <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}}
                {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
                {{depend store_hours}}
                {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
                {{/depend}} -->
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p>{{trans "発送確認は以下の通りです。"}}</p>

            <h1></h1>
            <h2><b>{{trans '発送詳細'}}</b></h2>
            <!-- <h1>{{trans "Your Shipment #%shipment_id for Order #%order_id" shipment_id=$shipment.increment_id order_id=$order.increment_id}}</h1> -->
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <!-- {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}} -->

            <table class="order-details">
                <tr>
                    <!-- {{depend order.getIsNotVirtual()}} -->
                    <td class="address-details">
                        <h3>{{trans "配送情報"}}</h3>
                        <p>{{var order.getCustomerName()}}</p>
                        <p>{{trans "%zipcode, " zipcode=$order.getShippingAddress().getPostcode()|raw}}{{trans "%city," city=$order.getShippingAddress().getCity()|raw}}
                        </p>
                        <p>{{trans "%province, " province=$order.getShippingAddress().getRegion()|raw}}{{var order.getShippingAddress().getCountryModel().getName()}}
                        </p>
                        <p>{{var order.getShippingAddress().getTelephone()}}</p>
                        <!-- <p>{{var order.getShippingAddress().format('html')}}</p> -->
                    </td>
                    <td class="address-details">
                        <h3>{{trans "支払方法"}}</h3>
                        {{var payment_html|raw}}
                    </td>
                </tr>
            </table>
            {{layout handle="sales_email_order_shipment_track" shipment=$shipment order=$order}}
            <br>
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1></h1>
            <p>{{trans 'ご注文についてご質問がある場合は、<a href="mailto:%store_email">%store_email</a> にメールしてください。' store_email=$store_email |raw}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}